{% extends 'admin/baseadmin.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block body %}
    <h1>Détails de l'utilisateur {{ user.firstname }} {{ user.lastname }} </h1>
    {# Définir ce que l'on veut afficher dans les détails du user #}
    
    <ul>
            <img src="{{ asset('uploads/photos_profile/' ~ app.user.photoProfile )}}" alt="User Image">
            <li>
                <p> Pseudo : {{ user.username }} </p>
            </li>
            <li> 
                <p> Prénom : {{ user.firstname }} </p>
            </li>
            <li> 
                <p> Nom : {{ user.lastname }} </p>
            </li>
            <li> 
                <p> email : {{ user.email }} </p>
            </li>
            <li> 
                <p> Date de naissance : {{ user.birthdate|date("m/d/Y") }} </p>
            </li>
            <li> 
                {#<p> Rôle du user : {{ user.~roles~ }} </p>#}
            </li>
            <li> 
                {#<p>{{ user.activity_status }}</p> #}
            </li>
    </ul>
        <a href="{{ path('list_user') }}">Retour à la liste des users</a>
    
    
{% endblock %}