{# empty Twig template #}

{% extends "base.html.twig" %}

{% block body %}
    
        {% for result in results %}
            {% if result.username is defined %}
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/photos_profile/' ~ result.photoProfile )}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.username }}</h5>
                        <p class="card-text">{{ result.description }}</p>
                        <button type="button" class="btn btn-primary" value="{{ result.id }}" data-toggle="modal" data-target="#modalWIP"><i class="fas fa-plus-circle"></i></button>
                    </div>
                </div>
                    
                {# MODAL WORK IN PROGRESS #}
                    <div class="modal fade" id="modalWIP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">WORK IN PROGRESS</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                
                                    <p>Add a friend ! Work in Progress</p> 
                                    <img src="https://i1.wp.com/www.sixsigmatrainingfree.com/uploads/2/1/7/9/21795380/work-in-progress-wip.jpg?w=525"></img>
                                
                            </div>
                          </div>
                        </div>
                    </div>
                {# fin MODAL WORK IN PROGRESS #}
                
            {% else %}
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/place/' ~ result.image )}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.title }}</h5>
                        <p class="card-text">{{ result.description }}</p>
                        <button type="button" class="btn btn-primary" value="{{ result.id }}" action="submit" name="placeDetails">Voir</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

{% endblock %}