{{ form_start(form, {
    'attr': {'class': 'col-5 col-md-7 input-group form-group-no-border input-lg input-group-prepend input-group-text'} 
}) }}

    {{ form_widget(form.search, {
       'attr': {'class': 'form-control search-query'}  
    }) }}

{{ form_end(form) }}

    <ul>
        {% for result in results %}
            <li>
                {% if result.username is defined %}
                    {{ result.username }}
                {% else %}
                    {{ result.title }} - {{ result.description }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>