
{% use "bootstrap_4_layout.html.twig" %}

{% block title %} Recherche d'un lieu {% endblock%}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>Affichage Maps</h2>

    <div id="map"></div>



    
    <!-- Carousel -->
   {% set foo = 'results'%}
    {% set plimit = 3 %}
    {% if results|length != 0 %}
    <h3>Bienvenue sur la liste des produits</h3>
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol> 
            <div class="carousel-inner" role="listbox">
                        {% for key,result in results %} 
                            <div id ="slider-home" class="carousel-item{%if key == 1 %} active{%endif %}">
                    <div  class="page-header header-filter">
                            <div class="page-header-image" style="background-image: url({{ asset('uploads/place/' ~ result.image )}});">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3> {{ result.title }}</h3>
                                    <p> {{ result.description }} </p>
                                    <a href="{{ path('product_details', {id : result.id}) }}">Détails</a>
                                </div>
                            </div> 
                    </div>
                </div>  
                        {% endfor %}
            </div>
            <div class="carousel-item"></div>  
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fas fa-angle-left fa-3x"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fas fa-angle-right fa-3x"></i>
            </a>
        </div>
    {% endif %}

    

    <!-- End carousel -->

   <script>
      var markers;
      var map;
       function initMap(){
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom : 13,
                center:{lat: 48.8566, lng:2.3522},
                mapTypeId: google.maps.MapTypeId.ROADMAP         
        });   
            
        var markers = new Array ();
 
        {% for result in results %}
        var title = "{{ result.title }}";
        var description = "{{ result.description }}";
        var image =  "{{ result.image }}" ;
        var contentString = title + description + image; 
           
            markers.push(new google.maps.Marker({
                position:{
                    lat : {{result.lat}},
                    lng : {{result.lng}},
                    },
                
                map: map,
                info: new google.maps.InfoWindow({content: contentString }) 
                            
            }));
   
        google.maps.event.addListener(markers, 'click', (function() {
        this.info.open(map, this);
         }));
        {% endfor %}
     
        var bounds = new google.maps.LatLngBounds();
        markers.forEach(function(result){
            bounds.extend(result.position);
            map.fitBounds(bounds);
            map.setZoom(13); // Not working for now
        });     
      
    } 
    </script>
     <script type="text/javascript" async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyLL_wAkO_vMlDVj_AEXH9HUKJ7lVVNTY&callback=initMap">
    </script>       
   
    
{% endblock%}



